<div class="container">
  <h2 class="text-center mt-3">Konto</h2>
  <!--  USER FORM WITH NAME AND EMAIL-->
  <form (ngSubmit)="onSubmitUser()" *ngIf="userForm" [formGroup]="userForm">
    <div class="row">
      <div class="col">
        <label class="form-label" for="firstName">Vorname</label>
        <input [ngClass]="{
      'is-invalid': firstName?.invalid && (firstName?.dirty || firstName?.touched),
      'is-valid': firstName?.valid
      }" class="form-control" formControlName="firstName" id="firstName" type="text">
        <div *ngIf="firstName?.errors && (firstName?.dirty || firstName?.touched)" class="invalid-feedback">
          <p *ngIf="firstName?.hasError('required')">Vorname ist ein Pflichtfeld</p>
        </div>
      </div>
      <div class="col">
        <label class="form-label" for="lastName">Name</label>
        <input [ngClass]="{
      'is-invalid': lastName?.invalid && (lastName?.dirty || lastName?.touched),
      'is-valid': lastName?.valid
      }" class="form-control" formControlName="lastName" id="lastName" type="text">
        <div *ngIf="lastName?.errors && (lastName?.dirty || lastName?.touched)" class="invalid-feedback">
          <p *ngIf="lastName?.hasError('required')">Name ist ein Pflichtfeld</p>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label class="form-label" for="email">E-Mail</label>
      <input [ngClass]="{
      'is-invalid': email?.invalid && (email?.dirty || email?.touched),
      'is-valid': email?.valid
      }" class="form-control" formControlName="email" id="email" type="email">
      <div *ngIf="email?.errors && (email?.dirty || email?.touched)" class="invalid-feedback">
        <p *ngIf="email?.hasError('required')">E-Mail ist ein Pflichtfeld</p>
        <p *ngIf="email?.hasError('email')">Ungültige E-Mail</p>
      </div>
    </div>
    <div *ngIf="isEditUser" class="d-flex justify-content-end mt-3">
      <button (click)="onCancelEditUser()" class="btn btn-warning me-4" type="button">Abbrechen</button>
      <button [disabled]="userForm.invalid" class="btn btn-success" type="submit">Speichern</button>
    </div>
  </form>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <button (click)="onEditUser()" *ngIf="!isEditUser" class="btn btn-secondary" type="button">Bearbeiten</button>
  </div>
  <hr>
  <h3 class="text-center">Adresse</h3>
  <!--  ADDRESS FORM-->
  <form (ngSubmit)="onSubmitAddress()" *ngIf="addressForm" [formGroup]="addressForm">
    <div class="row">
      <div class="col-8">
        <label class="form-label" for="street">Strasse</label>
        <input [ngClass]="{
        'is-invalid': street?.invalid && (street?.dirty || street?.touched),
        'is-valid': street?.valid
        }" class="form-control" formControlName="street" id="street" type="text">
        <div *ngIf="street?.errors && (street?.dirty || street?.touched)" class="invalid-feedback">
          <p *ngIf="street?.hasError('required')">Strasse ist ein Pflichtfeld</p>
        </div>
      </div>
      <div class="col-4">
        <label class="form-label" for="houseNumber">Hausnummer</label>
        <input [ngClass]="{
        'is-invalid': houseNumber?.invalid && (houseNumber?.dirty || houseNumber?.touched),
        'is-valid': houseNumber?.valid
        }" class="form-control" formControlName="houseNumber" id="houseNumber" type="text">
        <div *ngIf="houseNumber?.errors && (houseNumber?.dirty || houseNumber?.touched)" class="invalid-feedback">
          <p *ngIf="houseNumber?.hasError('required')">Hausnummer ist ein Pflichtfeld</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label class="form-label" for="postalCode">Postleitzahl</label>
        <input [ngClass]="{
        'is-invalid': postalCode?.invalid && (postalCode?.dirty || postalCode?.touched),
        'is-valid': postalCode?.valid
        }" class="form-control" formControlName="postalCode" id="postalCode" type="text">
        <div *ngIf="postalCode?.errors && (postalCode?.touched || postalCode?.dirty)" class="invalid-feedback">
          <p *ngIf="postalCode?.hasError('required')">Postleitzahl ist ein Pflichtfeld</p>
        </div>
      </div>
      <div class="col-8">
        <label class="form-label" for="city">Ort</label>
        <input [ngClass]="{
        'is-invalid': city?.invalid && (city?.dirty || city?.touched),
        'is-valid': city?.valid
        }" class="form-control" formControlName="city" id="city">
        <div *ngIf="city?.errors && (city?.dirty || city?.touched)" class="invalid-feedback">
          <p *ngIf="city?.hasError('required')">Ort ist ein Pflichtfeld</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label" for="mobile">Natel</label>
        <input class="form-control" formControlName="mobile" id="mobile" type="text">
      </div>
      <div class="col">
        <label class="form-label" for="phone">Telefon</label>
        <input class="form-control" formControlName="phone" id="phone" type="text">
      </div>
    </div>
    <div *ngIf="isEditAddress" class="d-flex justify-content-end mt-3">
      <button (click)="onCancelEditAddress()" class="btn btn-warning me-4" type="button">Abbrechen</button>
      <button [disabled]="addressForm.invalid" class="btn btn-success" type="submit">Speichern</button>
    </div>
  </form>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <button (click)="onEditAddress()" *ngIf="!isEditAddress" class="btn btn-secondary" type="button">Adresse
      bearbeiten
    </button>
  </div>
  <hr>
  <h3 class="text-center">Lizenzen</h3>
  <!--  LICENSES GRID-->
  <ejs-grid [allowPaging]="true" [allowResizing]="true"
            [allowSorting]="true"
            [dataSource]="licenses"
            [enableColumnVirtualization]="true"
            [pageSettings]="pageSettings"
            [toolbar]="toolbarOptions"
            class="pb-5">
    <e-columns>
      <e-column field="issuedBy" headerText="Ersteller" width="150"></e-column>
      <e-column [format]="{type: 'date', format: 'dd.MM.yyyy'}" [type]="'dateTime'" field="createdAt" headerText="Erstellt am"
                width="100"></e-column>
      <e-column [displayAsCheckBox]="true" field="isPaid" headerText="Bezahlt" textAlign="center" width="80"></e-column>
      <e-column [format]="{type: 'date', format: 'dd.MM.yyyy'}" [type]="'dateTime'" field="expiresOn" headerText="Gültig bis"
                width="100"></e-column>
    </e-columns>
  </ejs-grid>
</div>
