<!-- Dialog title -->
<h1 class="text-center" mat-dialog-title>E-Fischereipatent</h1>

<!-- Dialog content -->
<div mat-dialog-content>
  <div class="e-license-container">
    <!-- QR code and user image -->
    <div class="d-flex justify-content-around">
      <div>
        <!-- QR code for license validation -->
        <qrcode
          [allowEmptyString]="true"
          [colorDark]="'#000000ff'"
          [colorLight]="'#ffffffff'"
          [cssClass]="'center'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'"
          [imageHeight]="60"
          [imageSrc]="'./assets/images/logo.png'"
          [imageWidth]="60"
          [margin]="1"
          [qrdata]="environment.licenseValidationUrl + currentFishingLicense.id"
          [scale]="1"
          [width]="180"
        ></qrcode>
      </div>
      <!-- User image -->
      <img [src]="currentFishingLicense.userImageUrl | imageUrl" alt="..." class="">
    </div>

    <!-- License details -->
    <!-- User full name -->
    <div><b>Inhaber:</b> {{ currentFishingLicense.userFullName }}</div>
    <!-- User date of birth -->
    <div><b>Geburtsdatum:</b> {{ currentFishingLicense.userDateOfBirth | date: 'dd.MM.yyyy' }}</div>
    <!-- User SaNa number -->
    <div><b>SaNa Nummer:</b> {{ currentFishingLicense.userSanaNumber }}</div>
    <hr>

    <!-- Allowed waters -->
    <div><b>Erlaubte Gewässer:</b> Unteren Dättwiler Weiher</div>
    <!-- Area number -->
    <div><b>Revier-Nr:</b> 715</div>
    <hr>

    <!-- License number -->
    <div><b>Lizenznummer:</b></div>
    <div>{{ currentFishingLicense.id }}</div>
    <!-- Expiry date -->
    <div><b>Gütlig bis:</b> {{ currentFishingLicense.expiresOn | date : 'dd.MM.yyyy' }}</div>
    <!-- Creation date -->
    <div><b>Aussgestellt am:</b> {{ currentFishingLicense.createdAt | date: 'dd.MM.yyyy' }}
      <!-- Issued by -->
      <div><b>Ausgestellt durch:</b> {{ currentFishingLicense.issuedBy }}</div>
    </div>

    <!-- Buttons for printing and closing the dialog -->
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-secondary" ngxPrintItemButton printWindow="true">Drucken</button>
      <button (click)="onClose()" class="btn btn-secondary">Schliessen</button>
    </div>
  </div>
</div>
