<header></header>
<div class="container">
  <h1 class="text-center">Dättwiler Weiher</h1>
  <p>Die Dättwiler Weiher sind zwei Weiher mit bewegter Geschichte in der Stadt Baden im Kanton Aargau.
    Sie befinden sich im Stadtteil Dättwil in bewaldetem Gebiet neben der Autobahn A1 auf einer Höhe von 416 Metern über
    Meer. <a href="#" routerLink="/geschichte">Mehr lesen...</a></p>
  <div class="temperature-container">
    <app-current-temperature></app-current-temperature>
  </div>
  <div class="weather-container">
    <iframe
      height='300'
      name='FC3'
      src='https://api.wetteronline.de/wetterwidget?gid=a5400&modeid=FC3&seourlencoded=JTNGZ2lkJTNEYTU0MDAlMjZsYXQlM0Q0Ny40NTUlMjZsb2NhdGlvbm5hbWUlM0REJTI1QzMlMjVBNHR0d2lsJTI2bG9uJTNEOC4yODUlMjZwY2lkJTNEcGNfY2l0eV93ZWF0aGVy&locationname=Dättwil&lang=de'
      style='border:1px solid;border-radius:10px;border-color:transparent;'
      width='300'>
    </iframe>
  </div>
</div>
