<h4 class="text-center mt-5 mb-2">Schonmasse und Schonzeiten</h4>
<div class="table-responsive">
  <table *ngIf="fishTypes" class="table table-striped table-bordered">
    <caption></caption>
    <thead>
    <tr>
      <th scope="col">Fischart</th>
      <th scope="col">Schonmass</th>
      <th scope="col">Schonzeit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fishType of fishTypes">
      <td>{{fishType.name}}</td>
      <td>{{fishType.hasMinimumSize ? fishType.minimumSize + ' cm' : '-'}}</td>
      <td>{{fishType.hasClosedSeason ? ("0" + fishType.closedSeasonFromDay).slice(-2) + '.' + ("0" + fishType.closedSeasonFromMonth).slice(-2) + ' - ' + ("0" + fishType.closedSeasonToDay).slice(-2) + '.' + ("0" + fishType.closedSeasonToMonth).slice(-2) : ' - '}}</td>
    </tr>
    </tbody>
  </table>
</div>
