<!-- Container for the password reset page -->
<div class="container">
  <!-- Title for the password reset page -->
  <h2 class="text-center">Passwort zurücksetzen</h2>

  <!-- Form for password reset -->
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">

    <!-- New Password input field with visibility toggle and validation feedback -->
    <div class="form-group">
      <label class="form-label" for="password">Neues Passwort</label>
      <div class="input-group">
        <!-- Password input with dynamic classes based on validation -->
        <input [ngClass]="{
      'is-invalid': password?.invalid && (password?.dirty || password?.touched),
      'is-valid': password?.valid
      }" [type]="isInputText ? 'text' : 'password'" class="form-control" formControlName="password" id="password">

          <!-- Visibility toggle icon for password -->
          <span (click)="isInputText = !isInputText" class="input-group-text eye-icon"><i
            [ngClass]="isInputText ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
          class="bi"></i></span>

          <!-- Validation feedback for password -->
          @if (password?.hasError && (password?.dirty || password?.touched)) {
            <div class="invalid-feedback">
              @if (password?.hasError('required')) {
                <p>Passwort ist ein Pflichtfeld</p>
              }
              <!-- Display specific validation messages based on password complexity requirements -->
              @if (!password?.hasError('required')) {
                <div>
                  <div [ngClass]="password?.hasError('hasNumber') ? 'text-danger': 'text-success'">
                    <i [ngClass]="password?.hasError('hasNumber') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                    Muss mindestens 1 Nummer haben!
                  </div>
                  <div [ngClass]="password?.hasError('minlength') ? 'text-danger': 'text-success'">
                    <i [ngClass]="password?.hasError('minlength') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                    Muss mindestens 8 Zeichen lang sein!
                  </div>
                  <div [ngClass]="password?.hasError('hasCapitalCase') ? 'text-danger': 'text-success'">
                    <i
                    [ngClass]="password?.hasError('hasCapitalCase') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                    Muss mindestens 1 in Großbuchstaben enthalten!
                  </div>
                  <div [ngClass]="password?.hasError('hasSmallCase') ? 'text-danger': 'text-success'">
                    <i [ngClass]="password?.hasError('hasSmallCase') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                    Muss mindestens 1 Buchstabe in Kleinbuchstaben enthalten!
                  </div>
                  <div [ngClass]="password?.hasError('hasSpecialCharacters') ? 'text-danger': 'text-success'">
                    <i
                    [ngClass]="password?.hasError('hasSpecialCharacters') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                    Muss mindestens 1 Sonderzeichen enthalten!
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>

      <!-- Confirm Password input field with visibility toggle and validation feedback -->
      <div class="form-group">
        <label class="form-label" for="confirmPassword">Passwort wiederholen</label>
        <div class="input-group">
          <!-- Confirm Password input with dynamic classes based on validation -->
        <input [ngClass]="{
      'is-invalid': confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched),
      'is-valid': confirmPassword?.valid
      }" [type]="isInputText ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
            id="confirmPassword">

            <!-- Visibility toggle icon for confirm password -->
            <span (click)="isInputText = !isInputText" class="input-group-text eye-icon"><i
              [ngClass]="isInputText ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
            class="bi"></i></span>

            <!-- Validation feedback for confirm password -->
            @if (confirmPassword?.errors && (confirmPassword?.dirty || confirmPassword?.touched)) {
              <div
                class="invalid-feedback">
                @if (confirmPassword?.hasError('required')) {
                  <p>Passwort wiederholen ist ein Pflichtfeld</p>
                }
                @if (confirmPassword?.hasError('passwordMismatch')) {
                  <p>Passwörter stimmen nicht überein</p>
                }
              </div>
            }
          </div>
        </div>

        <!-- Submit button for password reset -->
        <div class="d-grid mt-5">
          <button [disabled]="resetForm.invalid" class="btn btn-success" type="submit">Absenden</button>
        </div>
      </form>
    </div>
