<!-- Dialog title -->
<h1 mat-dialog-title class="text-center">Fang hinzfügen</h1>

<!-- Dialog content -->
<div mat-dialog-content>

  <!-- Form with Angular reactive forms -->
  <form [formGroup]="catchForm">

    <!-- Fish type selection -->
    <div class="form-group">
      <label class="form-label" for="fishTypeId">Fischart</label>
      <select class="form-select" formControlName="fishTypeId" id="fishTypeId">
        <!-- Loop through fishTypes to create options -->
        @for (fishType of fishTypes; track fishType) {
          <option [value]="fishType.id">{{ fishType.name }}</option>
        }
      </select>
    </div>

    <!-- Checkbox for crab content -->
    <div class="form-check mt-3">
      <input class="form-check-input" formControlName="hadCrabs" id="hadCrabs" type="checkbox">
      <label class="form-check-label" for="hadCrabs">Mageninhalt</label>
    </div>

    <!-- Dialog actions, including submission and cancellation buttons -->
    <div class="d-flex justify-content-end mb-3" mat-dialog-actions>
      <button (click)="onSubmit()" [disabled]="catchForm.invalid" class="btn btn-success" type="submit">Hinzufügen
      </button>
      <button (click)="onClose(false)" class="btn btn-danger ms-3" type="button">Abbrechen</button>
    </div>
  </form>
</div>
