<h1 mat-dialog-title>Passwort vergessen</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <label class="form-label" for="email">E-Mail</label>
      <input [ngClass]="{
      'is-invalid': email?.invalid && (email?.dirty || email?.touched),
      'is-valid': email?.valid
      }" class="form-control" formControlName="email" id="email" type="email">
      <div *ngIf="email?.errors && (email?.dirty || email?.touched)" class="invalid-feedback">
        <p *ngIf="email?.hasError('required')">E-Mail ist ein Pflichtfeld</p>
        <p *ngIf="email?.hasError('email')">Ungültige E-Mail Adresse</p>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button [disabled]="forgotPasswordForm.invalid" class="btn btn-success me-3" type="submit">Absenden</button>
      <button (click)="onClose()" class="btn btn-warning" type="button">Abbrechen</button>
    </div>
  </form>
</div>
