<!-- Dialog title for the forgot password component -->
<h1 mat-dialog-title>Passwort vergessen</h1>

<!-- Dialog content with a form for password reset -->
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">

    <!-- Form group for email input -->
    <div class="form-group">
      <!-- Label for email input -->
      <label class="form-label" for="email">E-Mail</label>

      <!-- Input field for email with dynamic classes based on validation -->
      <input [ngClass]="{
      'is-invalid': email?.invalid && (email?.dirty || email?.touched),
      'is-valid': email?.valid
      }" class="form-control" formControlName="email" id="email" type="email">

      <!-- Display error messages if email input is invalid -->
      <div *ngIf="email?.errors && (email?.dirty || email?.touched)" class="invalid-feedback">
        <p *ngIf="email?.hasError('required')">E-Mail ist ein Pflichtfeld</p>
        <p *ngIf="email?.hasError('email')">Ungültige E-Mail Adresse</p>
      </div>
    </div>

    <!-- Buttons for form submission and cancellation -->
    <div class="d-flex justify-content-end mt-3">
      <!-- Submit button with dynamic disabling based on form validity -->
      <button [disabled]="forgotPasswordForm.invalid" class="btn btn-success me-3" type="submit">Absenden</button>

      <!-- Cancel button to close the dialog -->
      <button (click)="onClose()" class="btn btn-warning" type="button">Abbrechen</button>
    </div>
  </form>
</div>
