<div class="container">
  <h1 class="text-center mb-3">Administration</h1>
  <mat-tab-group>
    <mat-tab label="Mitglieder">
      <app-admin-users></app-admin-users>
    </mat-tab>
    <mat-tab label="Fischartren">
      <app-admin-fish-types></app-admin-fish-types>
    </mat-tab>
    <mat-tab label="Fischereivorschriften">
      <app-admin-fishing-regulation></app-admin-fishing-regulation>
    </mat-tab>
    <mat-tab label="Lizenzen">
      <app-admin-fishing-license></app-admin-fishing-license>
    </mat-tab>
    <mat-tab label="Daten">
      <app-admin-club-information></app-admin-club-information>
    </mat-tab>
  </mat-tab-group>
</div>
