<h1 mat-dialog-title>Manuell erfassen</h1>
<div mat-dialog-content>
  <form [formGroup]="manualCatchForm">
    <div class="form-group">
      <label class="form-label" for="catchDate">Angeltag</label>
      <input class="form-control" id="catchDate" formControlName="catchDate" type="date" min="{{minDateAllowed}}" max="{{maxDateAllowed}}">
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label" for="hoursSpent">Stunden</label>
        <select class="form-select" id="hoursSpent" formControlName="hoursSpent">
          <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="minutesSpent">Minuten</label>
        <select class="form-select" id="minutesSpent" formControlName="minutesSpent">
          <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-3" mat-dialog-actions>
      <button (click)="onSubmit()" class="btn btn-success" type="submit">Hinzufügen</button>
      <button (click)="onClose()" class="btn btn-danger ms-3" type="button">Abbrechen</button>
    </div>
  </form>
</div>
