<!-- Dialog Title -->
<h1 mat-dialog-title class="text-center">Tag {{currentCatchDay.catchDate | date: 'dd.MM.yyyy'}} bearbeiten</h1>

<!-- Dialog Content -->
<div mat-dialog-content>
  <!-- Form Group -->
  <form [formGroup]="catchForm">
    <!-- Hours and Minutes Selection -->
    <div class="row">
      <!-- Hours Selection -->
      <div class="col">
          <label class="form-label" for="hoursSpent">Stunden</label>
          <select [ngClass]="{
        'is-invalid': f.get('hoursSpent')?.invalid && (f.get('hoursSpent')?.dirty || f.get('hoursSpent')?.touched),
        'is-valid': f.get('hoursSpent')?.valid
        }" class="form-select" id="hoursSpent" formControlName="hoursSpent">
            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
          </select>
        <!-- Error Message for Hours Selection -->
        <div *ngIf="f.get('hoursSpent')?.errors && (f.get('hoursSpent')?.dirty || f.get('hoursSpent')?.touched)"
               class="invalid-feedback">
            <p *ngIf="f.get('hoursSpent')?.hasError('required')">Stunden ist ein Pflichtfeld</p>
          </div>
        </div>

      <!-- Minutes Selection -->
      <div class="col">
          <label class="form-label" for="minutesSpent">Minuten</label>
          <select [ngClass]="{
        'is-invalid': f.get('minutesSpent')?.invalid && (f.get('minutesSpent')?.dirty || f.get('minutesSpent')?.touched)
        }" class="form-select" id="minutesSpent" formControlName="minutesSpent">
            <option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</option>
          </select>
        <!-- Error Message for Minutes Selection -->
        <div *ngIf="f.get('minutesSpent')?.errors && (f.get('minutesSpent')?.dirty || f.get('minutesSpent')?.touched)"
               class="invalid-feedback">
            <p *ngIf="f.get('minutesSpent')?.hasError('required')">Minuten ist ein Pflichtfeld</p>
          </div>
        </div>
    </div>

    <!-- Dialog Actions -->
    <div class="d-flex justify-content-end mb-3" mat-dialog-actions>
      <!-- Submit Button -->
      <button (click)="onSubmit()" [disabled]="catchForm.invalid" class="btn btn-success" type="submit">Speichern
      </button>

      <!-- Cancel Button -->
      <button (click)="onClose(false)" class="btn btn-danger ms-3" type="button">Abbrechen</button>
    </div>
  </form>
</div>

