<!-- Dialog Title -->
<h1 mat-dialog-title class="text-center">Tag {{currentCatchDay.catchDate | date: 'dd.MM.yyyy'}} bearbeiten</h1>

<!-- Dialog Content -->
<div mat-dialog-content>
  <!-- Form Group -->
  <form [formGroup]="catchForm">
    <!-- Hours and Minutes Selection -->
    <div class="row">
      <!-- Hours Selection -->
      <div class="col">
        <label class="form-label" for="hoursSpent">Stunden</label>
          <select [ngClass]="{
        'is-invalid': f.get('hoursSpent')?.invalid && (f.get('hoursSpent')?.dirty || f.get('hoursSpent')?.touched),
        'is-valid': f.get('hoursSpent')?.valid
        }" class="form-select" id="hoursSpent" formControlName="hoursSpent">
          @for (hour of hours; track hour) {
            <option [value]="hour">{{ hour }}</option>
          }
        </select>
        <!-- Error Message for Hours Selection -->
        @if (f.get('hoursSpent')?.errors && (f.get('hoursSpent')?.dirty || f.get('hoursSpent')?.touched)) {
          <div
            class="invalid-feedback">
            @if (f.get('hoursSpent')?.hasError('required')) {
              <p>Stunden ist ein Pflichtfeld</p>
            }
          </div>
        }
      </div>

      <!-- Minutes Selection -->
      <div class="col">
        <label class="form-label" for="minutesSpent">Minuten</label>
          <select [ngClass]="{
        'is-invalid': f.get('minutesSpent')?.invalid && (f.get('minutesSpent')?.dirty || f.get('minutesSpent')?.touched)
        }" class="form-select" id="minutesSpent" formControlName="minutesSpent">
          @for (minute of minutes; track minute) {
            <option [value]="minute">{{ minute }}</option>
          }
        </select>
        <!-- Error Message for Minutes Selection -->
        @if (f.get('minutesSpent')?.errors && (f.get('minutesSpent')?.dirty || f.get('minutesSpent')?.touched)) {
          <div
            class="invalid-feedback">
            @if (f.get('minutesSpent')?.hasError('required')) {
              <p>Minuten ist ein Pflichtfeld</p>
            }
          </div>
        }
      </div>
    </div>

    <!-- Dialog Actions -->
    <div class="d-flex justify-content-end mb-3" mat-dialog-actions>
      <!-- Submit Button -->
      <button (click)="onSubmit()" [disabled]="catchForm.invalid" class="btn btn-success" type="submit">Speichern
      </button>

      <!-- Cancel Button -->
      <button (click)="onClose(false)" class="btn btn-danger ms-3" type="button">Abbrechen</button>
    </div>
  </form>
</div>

