<h1 mat-dialog-title>Lizenz {{isUpdate ? 'bearbeiten' : 'erstellen'}}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="licenseForm">
    <div class="form-group">
      <label class="form-label" for="userId">Inhaber</label>
      <select class="form-select" formControlName="userId" id="userId">
        @for (user of users; track user) {
          <option [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label class="form-label" for="year">Gültig für das Jahr</label>
      <input class="form-control" formControlName="year" id="year" type="number">
    </div>
    <div class="form-group">
      <label class="form-label" for="expiresOn">Gültig bis</label>
      <input class="form-control" formControlName="expiresOn" id="expiresOn" type="date">
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" formControlName="isPaid" id="isPaid" type="checkbox">
      <label class="form-check-label" for="isPaid">Bezahlt</label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" formControlName="isActive" id="isActive" type="checkbox">
      <label class="form-check-label" for="isActive">Aktiv</label>
    </div>
  </form>
</div>
<div class="d-flex justify-content-end mt-5 mb-3" mat-dialog-actions>
  <button (click)="onSubmit()" [disabled]="licenseForm.invalid" class="btn btn-success" type="submit">
  Lizenz {{isUpdate ? 'updaten' : 'erstellen'}}</button>
  <button (click)="onClose(false)" class="btn btn-danger ms-3" type="button">Abbrechen</button>
</div>

