<h3 class="text-center mt-4">Fischerei Lizenzen</h3>
<div class="d-flex justify-content-end">
  <button (click)="onAddLicense()" class="btn btn-primary mb-3">Lizenz hinzufügen</button>
</div>
<ejs-grid (recordDoubleClick)="onEdit($event)" *ngIf="licenses.length > 0" [dataSource]="licenses">
  <e-columns>
    <e-column field="userFullName" headerText="Inhaber"></e-column>
    <e-column [format]="{type: 'date', format: 'dd.MM.yyyy HH:mm'}" [type]="'dateTime'" field="createdAt"
              headerText="Erstellt am"></e-column>
    <e-column field="issuedBy" headerText="Ersteller"></e-column>
    <e-column [format]="{type: 'date', format: 'dd.MM.yyyy HH:mm'}" [type]="'dateTime'" field="updatedAt"
              headerText="Geändert am"></e-column>
    <e-column [format]="{type: 'date', format: 'dd.MM.yyyy'}" [type]="'dateTime'" field="expiresOn"
              headerText="Gültig bis"></e-column>
    <e-column [displayAsCheckBox]="true" field="isActive" headerText="Aktiv"></e-column>
    <e-column [displayAsCheckBox]="true" field="isPaid" headerText="Bezahlt"></e-column>
    <e-column headerText="Action">
      <ng-template #template let-data>
        <i (click)="onDeleteLicense(data)" class="bi bi-trash3 delete-icon"></i>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
