<h1 mat-dialog-title>Email(s) versenden</h1>
<div mat-dialog-content>
  <form [formGroup]="emailSendForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Mitglieder</mat-label>
      <mat-select formControlName="emails" multiple>
        <mat-option *ngFor="let user of memberEmails" [value]="user.email">{{user.fullName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="emails?.hasError('required')">Mindestens 1 Mitglied muss ausgewählt werden</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="d-flex justify-content-end mt-5 mb-3" mat-dialog-actions>
  <button (click)="onSubmit()" class="btn btn-success" type="submit">Senden</button>
  <button (click)="onClose()" class="btn btn-danger ms-3" type="button">Abbrechen</button>
</div>
